html, body{
  height: 100vh;
  background-image: url('./background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -37vh;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.3fr;

}

h1{
  color: #0D0D0D;
  font-family: monospace;
  grid-column: 1;
  grid-row: 1;
  margin-top: 10vh;
  margin-left: 5vw;
  text-transform: uppercase;
  text-decoration: overline;
}

#form{
  grid-column: 1;

}

#label_add{
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.2em;
  /* border: 3px solid; */
  max-width: 35%;
  margin-left: 5vw;

}

#label_add input{
  margin-top: 2vh;
  font-family: monospace;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  justify-content: center;
  display: inline;

}

#addBtn{
  margin-top: 3vh;
  margin-left: 5vw;
  font-family: monospace;
  font-size: 1.4em;
  background-color: #261B07;
  color: #D9D9D9;
  border: none;
  border-radius: 10px;
  max-width: 8vw;
  cursor: pointer;
}

#updateBtn{
  margin-top: 3vh;
  font-family: monospace;
  font-size: 1.4em;
  background-color:#D9D9D9;
  color: #261B07;
  border: none;
  border-radius: 10px;
  max-width: 10vw;
  cursor: pointer;
}


#table{
  grid-column-start: 2;
  grid-row-start: 2;
  font-family: monospace;
  text-align: center;
  margin-top: 10vh;
}

#tbody th, td{
  padding: 0;
  border: 2px solid #261B07;
  line-height: 1;

}

#btn-edit{
  background-color: #ffd101;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

#btn-delete{
  background-color: #ffd101;
  border: none;
  cursor: pointer;
  font-size: x-large;

}

.contact_id{
  visibility: hidden;
}

#id{
  background-color: rgb(230, 230, 230);
}

table{
  max-height: 2vh;
}

#msg{
  color: #0D0D0D;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: overline;
  text-align: left;
  margin-left: 5vw;
}