h1,h4{
  text-align: center;
  color: blueviolet;
}

#div_lista{
  display: flex;
  justify-content: center;
  height: 30%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: x-large
}

#div_botoes{
  display: grid;
  justify-content: center;
  height: 30vh;
  
}